:root{
    --cor_titulo: rgb(35, 35, 58);
    --cor_fundo: rgb(132, 132, 143);
}
body{
    background-color: var(--cor_fundo);
}

h1{
    color: var(--cor_titulo);
    text-align: center;
}
button{
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
}
.principal{ 
    border-radius: 00%;
    display: flex;
    justify-content: center;
    margin: 20px;
    

}
.botao{
    height: 60px;
    width: 300px;
}

.botao:first-child{
    border-radius: 30% 0 0 0;
}

.botao:last-child{
    border-radius: 0 30% 0 0;
}